useDynLib(orsk)

importFrom("utils", packageDescription)

importFrom("BHH2", "dotPlot")
importFrom("BB", "BBsolve")
importFrom("BB", "BBoptim")
importFrom("BB", "multiStart")

export(orsk, zy)
exportClasses("orsk")
exportMethods("show")

S3method(plot, orsk)
S3method(print, orsk)
S3method(summary, orsk)
importFrom("graphics", "plot")     
importFrom("stats", "qnorm")

